*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manjari', sans-serif; 

}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.brand-title{
  margin: 0.5rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0%; 
  display: flex;
}

.navbar-links li{
 list-style:none;
}

.navbar-links li a {
  text-decoration: none;
  color: #04435A;
  padding: 1rem;
  display: block ;
  font-family: 'Manjari', sans-serif; 
}

.navbar-links li a:hover{
  color:#fff;
}

.toggle-button{
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color:#107093;
  border-radius: 10px;
}

@media (max-width: 800px)
   {
    .toggle-button
      {
        display: flex;
      }
      .navbar-links
      {
        display: none;
        width: 100%;
      }
      .navbar
      {
        flex-direction: column;
        align-items: flex-start;
      }
      .navbar-links ul
      {
        width: 100%;
        flex-direction: column;
      }
      .navbar-links li
      {
        text-align:center;
      }
      .navbar-links ul a 
      {
        padding: 0.5rem 1rem;

      }
      .navbar-links.active {
        display: flex;
      }
   }


.page-top
{
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(65deg, #05769f 5%, transparent),url(https://www.himss.org/sites/hde/files/media/image/2020/03/11/demonstrating-the-value-of-nursing-care-through-use-of-a-unique-nurse-identifier-1200x630.png);
  background-position: center;
  background-size: cover;
}

.banner-text
{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text h1 
{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: solid 10px;
  border-radius: 10px;
  padding: 3% ;
  font-size: 4rem;
  font-weight:bold;
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;

}

#POB{
    padding-top: 5%;
    padding-bottom: 5%;
  }

section{
    padding: 20px;
  }

#features{
  padding-top: 5%;
  padding-bottom: 5%;
}

.feature-box{
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
  }

figure{
    align-self: flex-start;
    margin: 0;
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
    padding-bottom: 60px;
  }

article{
    flex-grow: 3;
  }

#title{
  background-color: transparent;  
  color: #04435A;
  margin: 0%;
  padding: 0;
}

h2{
    font-family: 'Manjari', sans-serif;
    font-size: 4rem; 
    margin: 0%;
}


p{
  color: #04435A;
    font-family: 'Manjari', sans-serif;
    line-height: 1.5;
    font-size: x-large;
}
#why{
  color: #04435A;
  font-family: 'Manjari', sans-serif;
  line-height: 1.5;
  font-size: x-large;
  padding-top: 5%;
  padding-bottom: 5%;
}

.side-icon{
  width: 120px;
  padding-top: 50px;
}

article{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

summary{
    color: #04435A;
    font-family: 'Manjari', sans-serif;
    line-height: 1.5;
    font-size: x-large;
}


h3{
    color: #04435A;
    font-family: 'Manjari', sans-serif;  
    font-size: 2rem
}

h4{
  color: #04435A;
  font-family: 'Manjari', sans-serif;  
  font-size: 1.5rem
}

p{
  padding: 0 10% 0 10%;
}

.list{
  padding: 0 10% 0 10%;
}

#link-button {
  padding: 12px;   
  border: 4px solid white;
  border-radius: 30px ;
  background-color: transparent;
  color:white;
  font-size: 2.5rem;
  font-weight: bolder;
  flex-grow: 0;
  align-self: center;
  text-align: center;
}

#link-button:hover
{
  cursor: pointer;
  background-color: white;
  color:#04435A;
}

#view-link
{
  width: 100%;
  height:70vh;
  background-image: -webkit-linear-gradient(65deg, #05769f 5%, transparent),url(phone_thumbnail.png);
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #CFE8EF;
  border-width: 5px;
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact{
  background-color: #CFE8EF;
  height: 100px;
}

  




