body{
  margin: 0;
}

title{
   margin: auto;
}

.navbar{
   background-color: #d4edf4;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.brand-title{
  margin: 0.5rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0%; 
  display: flex;
}

.navbar-links li{
 list-style:none;
}

.navbar-links li a {
  text-decoration: none;
  color: #04435A;
  padding: 1rem;
  display: block ;
  font-family: 'Manjari', sans-serif; 
}

.navbar-links li:hover{
  background-color:#fff;
}

.toggle-button{
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color:#107093;
  border-radius: 10px;
}

@media (max-width: 800px)
   {
    .toggle-button
      {
        display: flex;
      }
      .navbar-links
      {
        display: none;
        width: 100%;
      }
      .navbar
      {
        flex-direction: column;
        align-items: flex-start;

      }
      .navbar-links ul
      {
        width: 100%;
        flex-direction: column;
      }
      .navbar-links li
      {
        text-align:center;
      }
      .navbar-links ul a 
      {
        padding: 0.5rem 1rem;

      }
      .navbar-links.active {
        display: flex;
      }
   }

.row{
    display: flex;
    justify-content: start;
    width: 100%;
    align-items:start;
    margin: 0%;
    padding: 0%;
  }

#POB{
    padding-top: 5%;
    padding-bottom: 5%;
  }

section{
    padding: 20px;
  }

#features{
  padding-top: 5%;
  padding-bottom: 5%;
}

.feature-box{
    display: flex;
    justify-content: start;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
  }

figure{
    align-self: flex-start;
    margin: 0;
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
    padding-bottom: 60px;
  }

article{
    flex-grow: 3;
    
  }

#title{
  background-color: #CFE8EF;  
  color: #04435A;
  margin: 0%;
  padding: 0;
}

.phone{
    width: 100%;
}

h2{
    font-family: 'Manjari', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
}


p{
  color: #04435A;
    font-family: 'Manjari', sans-serif;
    line-height: 1.5;
    font-size: x-large;
}
#why{
  color: #04435A;
  font-family: 'Manjari', sans-serif;
  line-height: 1.5;
  font-size: x-large;
  padding-top: 5%;
  padding-bottom: 5%;
}

.side-icon{
  width: 120px;
  padding-top: 50px;
}

article{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

summary{
    color: #04435A;
    font-family: 'Manjari', sans-serif;
    line-height: 1.5;
    font-size: x-large;
}


h3{
    color: #04435A;
    font-family: 'Manjari', sans-serif;  
    font-size: 2rem
}

h4{
  color: #04435A;
  font-family: 'Manjari', sans-serif;  
  font-size: 1.5rem
}

p{
  padding: 0 10% 0 10%;
}

.list{
  padding: 0 10% 0 10%;
}

#view-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content:space-around;
  padding: 5% 10% 5% 10;
  align-items: center;
  padding-top: 5%;
    padding-bottom: 5%;
}

#link-button{
    background-color: #9bbec8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: 'Manjari', sans-serif; 
    font-size:xx-large;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#link-button:hover {
  background-color: #04435A;
  border: 1px solid #04435A;
  cursor: pointer;
}

#POB-pic{
  width: 30%;
  border: 4px solid black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #CFE8EF;
  border-width: 5px;
  width: 5%;
}

#contact{
  background-color: #CFE8EF;
  height: 100px;
}

  




